*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url(../img/fon-contact.jpg);
    position:absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}