*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/fondo.jpg);
    position:absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    color:rgb(7, 7, 75);
    /*margin: 100px 50px;*/
   
}
.logo_principal{
    border-radius:20px;
    display:block;
    margin-left: auto;
  margin-right: auto;
}
/*barra de navegacion*/
header .nav_bar{
   text-align: center;
   background-color:lightblue;
   margin: 50px 0;
   border: solid 5px rgb(121, 52, 52);
   border-radius: 20px;
   box-shadow:10px 5px 5px 2px;
}
.nav_bar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100px;
}
.nav_bar ul li{
    list-style-type: none;
    flex-wrap: wrap;
    
}
.nav_bar ul li a{
    color:rgb(87, 62, 62);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
/*.morado_claro{
    background-color:greenyellow;

}*/
/*video*/
.video{
   text-align: center;
}
/*pie de pagina*/
.ini{
    text-align: center;
}
