*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/456.jpg);
    /*position:absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/ 
    color: green;   
}
/*titulos*/
.titulos{
    text-align: center;
}
/*imagenes de productos*/
.productos{
    height: 45%;
    width: 45%;
    display:block;
    margin-left: auto;
  margin-right: auto;
}